/* .App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}



a{
  text-decoration: none;
  color: aliceblue;
  margin: 3px 10px;
  transition: 300ms;
}
a:hover{
  border-bottom: 2px solid rgb(95, 94, 94);
}

.activeYes{
  color:rgb(242, 243, 242);
  background: rgb(2, 133, 20);
  border-radius: 5px;
  border-bottom: 0;
}

.active{
  /* color:rgb(251, 255, 251); */
  background: rgb(199, 174, 34);
  border-radius: 5px;
  border-bottom: 0;
}
