.LeftMenu{
    position: absolute;
    width: 150px;
    height: 300px;
    background-color: rgb(90, 156, 158);
    border-radius: 0 20px 20px 0;
    border: 3px solid rgb(26, 97, 99);
    border-right: 20px solid rgb(26, 97, 99);
    opacity: .7;    
    transition: 300ms;
    transition-timing-function: ease-in-out;
}
.LeftMenuOpen{
    transform: translateX(0%);
}

.LeftMenuClose{
    transform: translateX(-90%);
}

.LeftMenu li{
    list-style-type: none;    
    color:white;
    text-decoration: none;
    text-shadow: 3px 3px 6px black;
    font-size: 30px;
}

.menuToggle_btn{
    position: absolute;
    width: 40px;

    text-align: center;

    right: -50px;
    top:20px;
    
    color:rgb(245, 242, 242);
    cursor: pointer;
    background-color: rgb(26, 97, 99);    
    padding: 3px;
    border-radius:0 70% 50% 0;
    font-weight: 900;
    font-size: 20px;
    
}